
.personal-card {
    color: green;
}

.background-numbers {
    background-color: aqua;
}

.blue {
    background-color: blue;
}



.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}



.pointer {
    cursor: pointer;
}

.active {
    color: rgb(174, 202, 192);
}

.dark {
    background-color: black;
    color: white;
}

.modal {
    display: block
};



.ligth {
    color: black;
    background-color: azure;
}

